/* ---------- Global CSS variables ----------------------------------------- */
/* 
Color references: 
https://tailwindcss.com/docs/customizing-colors#color-palette-reference
https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
*/

/* default applies to light theme */
:root {
  --bg-app: #e2e8f0;
  --bg-content: #f8fafc;
  --bg-content-highlight: #f1f5f9;
  --bg-code: #f1f5f9;
  --primary: #38bdf8;
  --txt-color: #334155;
  --sub-text-color: #475569;
  --divider: #cbd5e1;
  --font-size-body: 16px;
}

html.dark {
  --bg-app: #020617;
  --bg-content: #1e293b;
  --bg-content-highlight: #334155;
  --bg-code: #0f172a;
  --txt-color: #f1f5f9;
  --sub-text-color: #e2e8f0;
  --divider: #64748b;
}

html.sepia {
  --bg-app: #a8a29e;
  --bg-content: #e7e5e4;
  --bg-content-highlight: #d6d3d1;
  --bg-code: #d6d3d1;
  --txt-color: #44403c;
  --sub-text-color: #57534e;
  --divider: #78716c;
}

/* ---------- CSS reset ---------------------------------------------------- */
/* Some CSS reset resources:  */
/*  https://www.joshwcomeau.com/css/custom-css-reset/#introduction  */
/*  https://www.digitalocean.com/community/tutorials/css-minimal-css-reset  */
/*
/* Honourable mention to the good old:  */
/*  https://meyerweb.com/eric/tools/css/reset/  */

html {
  box-sizing: border-box;
  /*   font-size: 16px; */
}

body {
  font-size: var(--font-size-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

* {
  color: var(--txt-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: var(--txt-color);
  text-decoration: none;
}

ol,
ul,
menu {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ---------- Global Styling ----------------------------------------------- */
body {
  background-color: var(--bg-app);
}

/* ---------- Global CSS classes ------------------------------------------- */
.al-card {
  background-color: var(--bg-content);
  border-radius: 8px;
  border: 1px solid var(--divider);
  padding: 4px;
  display: flex;
  flex-direction: column;

  transition: background-color 0.25s, border-color 0.25s;
}

.al-card:hover {
  background-color: var(--bg-content-highlight);
  border-color: var(--primary);
}

.al-card__header {
  padding: 16px;
}

.al-card__body {
  padding: 16px;
  flex-grow: 1;
}

.al-card__footer {
  padding: 16px;
}

/* ---------- Code blocks ---------- */

/* For all code blocks */
code {
  font-size: 65%;
  background-color: var(--bg-code);
}

/* Multi-line code blocks are wrapped with a <pre> */
pre {
  background-color: var(--bg-code);
  border: 1px solid var(--divider);
  border-radius: 8px;
  overflow-x: auto;
  padding: 16px;
}

/* 
Inline codes are not wrapped
See https://stackoverflow.com/a/76197588/4906586 
*/
code:not(pre code) {
  border: 1px solid var(--divider);
  border-radius: 8px;
  padding: 4px 8px;
}
