/* ---------- Global CSS variables ----------------------------------------- */
:root {
  --bg-app: #ededed;
  --bg-content: white;
  --bg-content-highlight: rgba(241, 245, 249, 0.5);
  --primary: rgb(0, 193, 106);
  --txt-color: rgb(51, 65, 85);
  --sub-text-color: rgb(100, 116, 139);
  --divider: rgb(226, 232, 240);
  --font-size-body: 16px;
}

/* ---------- CSS reset ---------------------------------------------------- */
/* Some CSS reset resources:  */
/*  https://www.joshwcomeau.com/css/custom-css-reset/#introduction  */
/*  https://www.digitalocean.com/community/tutorials/css-minimal-css-reset  */
/*
/* Honourable mention to the good old:  */
/*  https://meyerweb.com/eric/tools/css/reset/  */

html {
  box-sizing: border-box;
  /*   font-size: 16px; */
}

body {
  font-size: var(--font-size-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

* {
  color: var(--txt-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: var(--txt-color);
  text-decoration: none;
}

ol,
ul,
menu {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ---------- Global Styling ----------------------------------------------- */
body {
  background-color: var(--bg-app);
}

/* ---------- Global CSS classes ------------------------------------------- */
.al-card {
  background-color: var(--bg-content);
  border-radius: 8px;
  border: 1px solid var(--divider);
  padding: 4px;
  display: flex;
  flex-direction: column;

  transition: background-color 0.25s, border-color 0.25s;
}

.al-card:hover {
  background-color: var(--bg-content-highlight);
  border-color: var(--primary);
}

.al-card__header {
  padding: 16px;
}

.al-card__body {
  padding: 16px;
  flex-grow: 1;
}

.al-card__footer {
  padding: 16px;
}
