:root {
  /* Theme specific */
  --bg-app: #e2e8f0;
  --bg-content: #f8fafc;
  --bg-content-highlight: #f1f5f9;
  --bg-code: #f1f5f9;
  --primary: rgb(0 193 106);
  --text-color: rgb(15 23 42);
  --sub-text-color: rgb(100 116 139);
  --divider: #cbd5e1;

  /* Non-theme specific */
  --font-size-body: 16px;
  --page-width: 960px;
  --content-width: 820px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-app: rgb(2 4 32);
    --bg-content: rgb(15 23 42);
    --bg-content-highlight: rgb((15 23 42)/0.5);
    --bg-code: rgb(30 41 59);
    --primary: rgb(0 220 130);
    --text-color: rgb(226 232 240);
    --sub-text-color: rgb(148 163 184);
    --divider: #64748b;
  }
}
